[auth]
issuer_url = "https://kanidm.example/oauth2/openid/w2z"
redirect_url = "http://localhost:3002/oidc/login_auth"
client_id = "w2z"
client_secret = "[[CLIENT_SECRET]]"

[github]
app_id = [[GITHUB_APP_ID]]
app_key = '''-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----'''
